*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}
#clock {
    position: fixed;
    width: 100px;
    height: 40px;
    background-color:black;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 5px;
    top: 10px;
    left: 5px;
}

h1{
    font-size: 48px;
    font-weight: 100;
}
h2{
    font-size: 36px;
    font-weight: lighter;
}
h4 {
    font-size: 20px;
    font-weight: lighter;
}

a {
    color: #fff;
}

.contents1{
    font-size: 20px;
    font-weight: lighter;
}

.contents3 {
    font-size: 14px;
    font-weight: 100;
}

.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}

/* ---- */

.result{
    font-size: 24px;
}
.intro_bg{
    background-image: url("image/intro.jpg");
    width: 96rem;
    height: 1079px;
}

.header{
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}
.searchArea {
    width: 300px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 24px;
}

.searchArea > form > input {
    border:none;
    width: 250px;
    height: 40px;
    background: rgb(0, 0, 0, 0.0);
    color: #fff;
    padding-left: 10px;
}
.searchArea > form > span{
    width: 50px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;

}
.nav{
    display: flex;
    justify-content: flex-start;
    line-height: 86px;
    width:calc(1280px - 300px);
}

.nav > li{
    margin-left: 84px;
}

.nav > li > a {
    color: #fff;
}

.amount{
    position: relative;
    top:-66px;
    display: flex;
    width:1280px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin: 0px 128px 0px 128px;
}

.amount > li {
    flex: 1;
    height: 132px;
}

.amount > li > div {
    text-align: center;
    margin-top: 37px;
    height: 57px;
}

.amount > li:not(:last-child) > div{
    border-right: 1px solid gray;
}

.intro_text{
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;
}
.intro_text2{
    width: 100%;
    margin: 540px auto 10px auto;
    text-align: center;
}

.intro_text > h1,
.intro_text2 > h2,
.intro_text > h4 {
    color: #fff;
}

/* main_text0 */

.main_text0 {
    width: 96rem;
    height: 601px;
    margin-top: -132px;
    background-color: #f2f2f3;
}

.main_text0 > h1 {
    padding-top: 116px;
    text-align: center;
}

.main_text0 > .contents1 { 
    text-align: center;
}

.icons {
    display: flex;
    width: 840px;
    height: 302px;
    /*background-color: orange; */
    margin: auto;
    
}

.icons > li {
    flex: 1;
    background-color: white;
    margin-top: 49px;
    height: 302px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.icons > li > .icon_img{
    margin-top: 18px;
}
.icons > li:not(:last-child) {
    margin-right: 30px;
}

.icons .contents2 {
    width: 240px;
    margin: auto;
    letter-spacing: -1px;
}

.more {
    width: 100px;
    height: 30px;
    background-color: #2F7AF4;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    margin: 25px auto;
    cursor: pointer;
}

/* main_text1 */
.main_text1 {
    width: 96rem;
    height: 659px;
}
.main_text1 > h1 {
    padding-top: 50px;
    text-align: center;
}

.main_text1 > .contents1 {
    text-align: center;
}


/* service */
.service{
    width: 1030px;
    display: flex;
    margin: 49px auto;
    height: 427px;
}

.service > li {
    flex: 1;
    margin-top: 49px;
    height: 310px;
}
.service > li:not(:last-child) {
    margin-right: 20px;
}
/* main_text2 */
.main_text2 {
    width: 95.75rem;
    height: 308px;
    background: dimgray;
}

.main_text2 > ul{
    display: flex;
    padding-top: 68px;
}

.main_text2 > ul > li {
    flex: 1;
    text-align: center;
}

.main_text2 > ul > li > div > h1,
.main_text2 > ul > li > div {
    color: #fff;
}

.effect > li:not(:last-child) {
    border-right: 2px solid #E1E1E1;
}

.more2 {
    width: 220px;
    height: 40px;
    border: 1px solid #fff;
    line-height: 40px;
    cursor: pointer;
    margin: 16px auto;
}

footer {
    display: flex;
    width: 92rem;
    background: #1f1f1f;
    padding: 30px;
}

footer > div:first-child,
footer h1 {
    flex: 3;
    text-align: center;
    color: #fff;
}

footer > div:last-child {
    flex: 9;
    color: #fff;
}